In [11]:
import pandas as pd
import json
import os

# To get the aggregation transaction details and saving into a CSV

In [12]:
agg_col={'State':[],'Year':[],'Quarter':[],'Transaction_type':[],'Transaction_count':[],'Transaction_amount':[]}
path="C:/Users/shakt/OneDrive/Desktop/pulse/data/aggregated/transaction/country/india/state"
agg_content=os.listdir(path)

for i in agg_content:
    state_i=os.path.join(path,i)
    for j in os.listdir(state_i):
        year_j=os.path.join(state_i,j)
        for k in os.listdir(year_j):
            quat_k=os.path.join(year_j,k)
            with open(quat_k) as f:
                data=json.load(f)
                for L in data['data']['transactionData']:
                   Name=L['name']
                   Count=L['paymentInstruments'][0]['count']
                   Amount=L['paymentInstruments'][0]['amount']
                   agg_col['State'].append(i)
                   agg_col['Year'].append(j)
                   agg_col['Quarter'].append(int(k.strip('.json')))
                   agg_col['Transaction_type'].append(Name)
                   agg_col['Transaction_count'].append(Count)
                   agg_col['Transaction_amount'].append(Amount)
                
                    
agg_dataframe=pd.DataFrame(agg_col)

In [47]:
agg_dataframe.to_csv('agg_dataframe.csv',index=False)

# To get the aggregation users details and saving into a CSV

In [14]:
agg_col={'State':[],'Year':[],'Quarter':[],'Device_Brands':[],'Counts':[],'Percentage':[]}
path="C:/Users/shakt/OneDrive/Desktop/pulse/data/aggregated/user/country/india/state"
agg_user=os.listdir(path)

for i in agg_user:
    state_i=os.path.join(path,i)
    for j in os.listdir(state_i):
        year_j=os.path.join(state_i,j)
        for k in os.listdir(year_j):
            quat_k=os.path.join(year_j,k)
            with open(quat_k) as f:
                data=json.load(f)
                try:
                    for L in data['data']['usersByDevice']:
                       Brand=L['brand']
                       Counts=L['count']
                       Percentage=L['percentage']
                       agg_col['State'].append(i)
                       agg_col['Year'].append(j)
                       agg_col['Quarter'].append(int(k.strip('.json')))
                       agg_col['Device_Brands'].append(Brand)
                       agg_col['Counts'].append(Counts)
                       agg_col['Percentage'].append(Percentage)
                except:
                    pass
                
                    
agg_user_dataframe=pd.DataFrame(agg_col)

In [58]:
agg_user_dataframe.to_csv('agg_user_dataframe.csv',index=False)

# To get the map transaction details and saving into a CSV

In [20]:
map_trans={'State':[],'Year':[],'Quarter':[],'District':[],'Counts':[],'Amount':[]}
path="C:/Users/shakt/OneDrive/Desktop/pulse/data/map/transaction/hover/country/india/state"
agg_user=os.listdir(path)

for i in agg_user:
    state_i=os.path.join(path,i)
    for j in os.listdir(state_i):
        year_j=os.path.join(state_i,j)
        for k in os.listdir(year_j):
            quat_k=os.path.join(year_j,k)
            with open(quat_k) as f:
                data=json.load(f)
                try:
                    for L in data['data']['hoverDataList']:
                       Name=L['name']
                       Counts=L['metric'][0]['count'] # it is in list format in json file so calling key as 'metric' and caaling index as [0] as it is single list and caaling the key  to srore the value of it in list
                       Amount=L['metric'][0]['amount']
                       map_trans['State'].append(i)
                       map_trans['Year'].append(j)
                       map_trans['Quarter'].append(int(k.strip('.json')))
                       map_trans['District'].append(Name)
                       map_trans['Counts'].append(Counts)
                       map_trans['Amount'].append(Amount)
                except:
                    pass
                
                    
map_trans_dataframe=pd.DataFrame(map_trans)

In [69]:
map_trans_dataframe.to_csv('map_trans_dataframe.csv',index=False)

# To get the map users details and saving into a CSV

In [24]:
map_user={'State':[],'Year':[],'Quarter':[],'District':[],'RegisteredUsers':[]}
path="C:/Users/shakt/OneDrive/Desktop/pulse/data/map/user/hover/country/india/state"
agg_user=os.listdir(path)


for i in agg_user:
    state_i = os.path.join(path, i)
    for j in os.listdir(state_i):
        year_j = os.path.join(state_i, j)
        for k in os.listdir(year_j):
            quat_k = os.path.join(year_j, k)
            with open(quat_k) as f:
                data = json.load(f)
                try:
                    for L in data['data']['hoverData'].items(): # items() used to iterate key value in dict format df
                        Name = L[0] # it is in dict format so to get the key  stored used this line
                        Counts = L[1]['registeredUsers']# it is in dict format so to get the  value with particular category stored used this line
                        map_user['State'].append(i)
                        map_user['Year'].append(j)
                        map_user['Quarter'].append(int(k.strip('.json')))
                        map_user['District'].append(Name)
                        map_user['RegisteredUsers'].append(Counts)
                except:
                    pass
                    
map_user_dataframe = pd.DataFrame(map_user)

In [94]:
map_user_dataframe.to_csv('map_user_dataframe.csv',index=False)

# To get the top transaction details and saving into a CSV

In [27]:
top_trans={'State':[],'Year':[],'Quarter':[],'Pincode':[],'Count':[],'Amount':[]}
path="C:/Users/shakt/OneDrive/Desktop/pulse/data/top/transaction/country/india/state"
agg_user=os.listdir(path)


for i in agg_user:
    state_i = os.path.join(path, i)
    for j in os.listdir(state_i):
        year_j = os.path.join(state_i, j)
        for k in os.listdir(year_j):
            quat_k = os.path.join(year_j, k)
            with open(quat_k) as f:
                data = json.load(f)
                try:
                    for L in data['data']['pincodes']:
                        Name = L['entityName'] 
                        Counts = L['metric']['count']
                        Amount = L['metric']['amount']
                        top_trans['State'].append(i)
                        top_trans['Year'].append(j)
                        top_trans['Quarter'].append(int(k.strip('.json')))
                        top_trans['Pincode'].append(Name)
                        top_trans['Count'].append(Counts)
                        top_trans['Amount'].append(Counts)
                except:
                    pass
                    
top_trans_dataframe = pd.DataFrame(top_trans)

In [98]:
top_trans_dataframe.to_csv('top_trans_dataframe.csv',index=False)

# To get the top users details and saving into a CSV

In [30]:
top_user={'State':[],'Year':[],'Quarter':[],'Pincode':[],'Registered_user':[]}
path="C:/Users/shakt/OneDrive/Desktop/pulse/data/top/user/country/india/state"
agg_user=os.listdir(path)


for i in agg_user:
    state_i = os.path.join(path, i)
    for j in os.listdir(state_i):
        year_j = os.path.join(state_i, j)
        for k in os.listdir(year_j):
            quat_k = os.path.join(year_j, k)
            with open(quat_k) as f:
                data = json.load(f)
                try:
                    for L in data['data']['pincodes']:
                        pincode = L['name'] 
                        Counts = L['registeredUsers']
                        top_user['State'].append(i)
                        top_user['Year'].append(j)
                        top_user['Quarter'].append(int(k.strip('.json')))
                        top_user['Pincode'].append(pincode)
                        top_user['Registered_user'].append(Counts)
                      
                except:
                    pass
                    
top_user_dataframe = pd.DataFrame(top_user)

In [102]:
top_user_dataframe.to_csv('top_user_dataframe.csv',index=False)

# python & MySQL connectivity

In [9]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\shakt\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\shakt\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [10]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     -------------------------------------- 43.8/43.8 kB 238.2 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
from sqlalchemy import create_engine
from sqlalchemy import text
import pandas as pd

In [3]:
host='localhost'
user='root'
password='365616'
port=3306
database='phonepay'

In [4]:
engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}')

In [5]:
connection=engine.connect()

# creating tables and loading data into tables through python script

In [8]:
create_table_sql = """
    CREATE TABLE `aggregated_transaction` (
        `serial_no` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        `State` VARCHAR(255) NOT NULL,
        `Year` INT NOT NULL,
        `Quarter` INT NOT NULL,
        `Transaction_type` VARCHAR(255) NOT NULL,
        `Transaction_count` INT NOT NULL,
        `Transaction_amount` FLOAT NOT NULL
    );
"""

connection.execute(text(create_table_sql))
df_agg_trans = pd.read_csv("C:/Users/shakt/OneDrive/Desktop/Phonepay/agg_trans_dataframe.csv")

df_agg_trans.to_sql(name='aggregated_transaction', con=engine, if_exists='replace', index=False)

3594

In [19]:
create_table_sql = """
    CREATE TABLE `aggregated_users` (
        `State` VARCHAR(255) NOT NULL,
        `Year` INT NOT NULL,
        `Quarter` INT NOT NULL,
        `Device_Brands` VARCHAR(255) NOT NULL,
        `Counts` INT NOT NULL,
        `Percentage` FLOAT NOT NULL
    );
"""
connection.execute(text(create_table_sql))
df_agg_users=pd.read_csv("C:/Users/shakt/OneDrive/Desktop/Phonepay/agg_user_dataframe.csv")
df_agg_users.to_sql(name='aggregated_users',con=engine,if_exists='replace',index=False)

6732

In [23]:
create_table_sql = """CREATE TABLE `map_transactions` (
    `State` VARCHAR(255) NOT NULL,
    `Year` INT NOT NULL,
    `Quarter` INT NOT NULL,
    `District` VARCHAR(255) NOT NULL,
    `Counts` INT NOT NULL,
    `Amount` FLOAT NOT NULL
);
"""
connection.execute(text(create_table_sql))
df_map_trans=pd.read_csv("C:/Users/shakt/OneDrive/Desktop/Phonepay/map_trans_dataframe.csv")
df_map_trans.to_sql(name='map_transactions',con=engine,if_exists='replace',index=False)

14636

In [26]:
create_table_sql = """
    CREATE TABLE `map_users` (
        `State` VARCHAR(255) NOT NULL,
        `Year` INT NOT NULL,
        `Quarter` INT NOT NULL,
        `District` VARCHAR(255) NOT NULL,
        `RegisteredUsers` INT NOT NULL
     
    );
"""
connection.execute(text(create_table_sql))
df_map_users=pd.read_csv("C:/Users/shakt/OneDrive/Desktop/Phonepay/map_user_dataframe.csv")
df_map_users.to_sql(name='map_users',con=engine,if_exists='replace',index=False)

14640

In [29]:
create_table_sql = """
    CREATE TABLE `top_transactions` (
        `State` VARCHAR(255) NOT NULL,
        `Year` INT NOT NULL,
        `Quarter` INT NOT NULL,
        `Pincode` INT NOT NULL,
        `Count` INT NOT NULL,
        `Amount` FLOAT NOT NULL
    );
"""

connection.execute(text(create_table_sql))
df_top_trans=pd.read_csv("C:/Users/shakt/OneDrive/Desktop/Phonepay/top_trans_dataframe.csv")
df_top_trans.to_sql(name='top_transactions',con=engine,if_exists='replace',index=False)

7139

In [32]:
create_table_sql = """
    CREATE TABLE `top_users` (
        `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        `State` VARCHAR(255) NOT NULL,
        `Year` INT NOT NULL,
        `Quarter` INT NOT NULL,
        `Pincode` INT NOT NULL,
        `Registered_user` INT NOT NULL
    );
"""
connection.execute(text(create_table_sql))
df_top_users=pd.read_csv("C:/Users/shakt/OneDrive/Desktop/Phonepay/top_user_dataframe.csv")
df_top_users.to_sql(name='top_users',con=engine,if_exists='replace',index=False)

7140